input[type="radio"] {
  width: 0;
  height: 0;
}

input[type="radio"]+label {
  padding: 10px;
  margin: 5px;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 10%;
}

input[type="radio"]:hover+label {
  border: 2px solid greenyellow;
}

input[type="radio"]:checked+label {
  border: 2px solid green;

}

.error-message {
  background-color: red;
  margin-top: 20px;
  color: white;
}

.question {
  margin-top: 40px;
}